:root {
    box-sizing: border-box;
}

.image {
    display: flex;
    width: 25%vw;
    height: 25%vw;
   
    
}

.results {
    display: flex;
    width: 25%;
    height: 50%;
    
    
    
}
.button {
    background-color: blue;
    color: bold black;
    text-align: center;
    padding: 10px;
    margin:10px;
    width: 120px;
    height: 80px;
    border-radius: 5px;
    

}